
#writeContentBox{
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgba(57,41,33);
    border-radius: 5px;
    border: 3px solid white;
    padding-top: 30px;
    height: 200px;
}


#comment-container{
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: rgba(57,41,33);
}

#commentBox{
    margin-top: 100px;
    margin-bottom: 100px;
}

#commentContent{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3px;
    width: 500px;
    height: 100px;
}


.savedCommentBox{
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid white ;
    position: relative;
}

#savedCommentMemberName{
    display: inline;
    margin-left: 10px;
    font-size: 30px;
    color: white;
}

#savedCommentCreatedAt{
    margin-left: 20px;
    display: inline;
    font-size: 15px;
    color: white;
}


#savedCommentContent{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
}

/*button*/
.deleteCommentBtn{
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#updateCommentBtn{
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#saveCommentBtn{
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 70px;
}

