/* navbar */
#navbar{
    position: fixed;
    z-index: 200;
    width: 43vw;
    background-color: rgba(95, 56, 39);
    left: 28vw;
    height: 80px;
}

#navbar-title{
    color: white;
}

.navbarBtn{
    border: none;              /* 모든 테두리를 초기화 */
    background: none;           /* 배경 없애기 */
    padding-left: 10px;                 /* 기본 여백 없애기 (선택 사항) */
    outline: none;              /* 클릭 시 외곽선 없애기 (선택 사항) */
    cursor: pointer;            /* 클릭 가능한 느낌 유지 */
    margin-left: 20px;
    margin-right: 20px;
    width: 10vw;
    height: 5vh;
}


.navbar-divider{

    /*border-left: 4px solid white; !* 왼쪽 테두리만 설정 *!*/
}
.navbar-text{
    padding:0;
    color: white;
    font-size: 30px;
}
