#playGameModal{
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-left: 250px;
    margin-top: 100px;
}

.playGameModal-dialog{
    margin-left: 0px;
    margin-right: 0px;
}

#play-modal{
    display: flex;
}

#playBtn{
    position: absolute;
    left: 34vw;
    top: 115vh;
    width: 30vw;
    height: 10vh;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#newPlayBtn{
    position: absolute;
    left: 27vw;
    top: 115vh;
    width: 20vw;
    height: 10vh;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

#continuePlayBtn{
    position: absolute;
    left: 52vw;
    top: 115vh;
    width: 20vw;
    height: 10vh;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.playModalBtn{
    margin: 10px;
    width: 300px;
    height: 150px;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    padding: 0;
    outline: none;
    cursor: pointer;
}

.playGameModalBox{
    width: 1000px;
    height: 500px;
    background-color: white;
}

