#playGameModal{
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-left: 250px;
    margin-top: 100px;
    /*overflow: hidden;*/
}

.playGameModal-dialog{
    margin-left: 0px;
    margin-right: 0px;
}

#play-modal{
    /*margin-top: 100px;*/
    /*margin-left: 100px;*/
    display: flex;
    /*overflow: hidden;*/
}

#playBtn{
    position: absolute;
    left: 34vw;
    top: 115vh;
    width: 30vw;
    height: 10vh;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;        /* 테두리를 없앱니다 */
    border-radius: 10px; /* 모서리를 둥글게 */
    padding: 0;          /* 기본 여백을 없애줍니다 (선택 사항) */
    outline: none;       /* 클릭 시 나오는 외곽선도 없앱니다 (선택 사항) */
    cursor: pointer;     /* 클릭 가능한 버튼 느낌을 유지하고 싶다면 추가 */
}

#newPlayBtn{
    position: absolute;
    left: 27vw;
    top: 115vh;
    width: 20vw;
    height: 10vh;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;        /* 테두리를 없앱니다 */
    border-radius: 10px; /* 모서리를 둥글게 */
    padding: 0;          /* 기본 여백을 없애줍니다 (선택 사항) */
    outline: none;       /* 클릭 시 나오는 외곽선도 없앱니다 (선택 사항) */
    cursor: pointer;     /* 클릭 가능한 버튼 느낌을 유지하고 싶다면 추가 */
}

#continuePlayBtn{
    position: absolute;
    left: 52vw;
    top: 115vh;
    width: 20vw;
    height: 10vh;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;        /* 테두리를 없앱니다 */
    border-radius: 10px; /* 모서리를 둥글게 */
    padding: 0;          /* 기본 여백을 없애줍니다 (선택 사항) */
    outline: none;       /* 클릭 시 나오는 외곽선도 없앱니다 (선택 사항) */
    cursor: pointer;     /* 클릭 가능한 버튼 느낌을 유지하고 싶다면 추가 */
}

.playModalBtn{
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    margin: 10px;
    width: 300px;
    height: 150px;
    background-color: rgba(95, 56, 39);
    color: white;
    font-size: 30px;
    border: none;        /* 테두리를 없앱니다 */
    border-radius: 10px; /* 모서리를 둥글게 */
    padding: 0;          /* 기본 여백을 없애줍니다 (선택 사항) */
    outline: none;       /* 클릭 시 나오는 외곽선도 없앱니다 (선택 사항) */
    cursor: pointer;     /* 클릭 가능한 버튼 느낌을 유지하고 싶다면 추가 */
}

.playGameModalBox{
    width: 1000px;
    height: 500px;
    background-color: white;
    /*overflow: hidden;*/
}

