/* Top */
#top{
    background-image: url('/img/topBg.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size:cover;
    height: 80vh;
    position:relative;
}


#top .divider{
    width: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 2px solid #fff;
}

#top-card{
    position: absolute;
    top: 45vh;
    left: 17vw;
    width: 65vw;
    height: 40vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo-icon{
    position: absolute;
    left: 26vw;
    top: 35vh;
    z-index: 101;
    width: 47.5vw;
    height: 25vh;
}

#boss-icon-1{
    position: absolute;
    left: 39vw;
    top: 8vh;
    z-index: 3;
    width: 22vw;
    height: 40vh;
}

#boss-icon-2{
    position: absolute;
    left: 62vw;
    top: 60vh;
    z-index: 105;
    width: 20vw;
    height: 30vh;

}

#boss-icon-3{
    transform: rotate(-25deg);
    position: absolute;
    left: 16vw;
    top: 55vh;
    z-index: 3;
    width: 20vw;
    height: 30vh;
}

#hero-icon-1{
    transform: rotate(25deg);
    position: absolute;
    left: 63vw;
    top: 23vh;
    z-index: 3;
    width: 25vw;
    height: 45vh;
}

#hero-icon-2{
    transform: rotate(-25deg);
    /*transform: scaleX(-1);*/
    position: absolute;
    left: 11vw;
    top: 25vh;
    z-index: 3;
    width: 27vw;
    height: 50vh;
}

.hero-icon-modal{
    width: 150px;
    height: 150px;
}

#top-img{

    margin-top: 100px;
    background-image: url('/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border: 12px solid rgba(95, 56, 39);
    width: 44vw;
    height: 55vh;
    z-index: 120;
}

/* Within the range of 767px or less */
@media screen and (max-width: 767px){
    #top .welcome {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

