<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

        $(document).ready(function() {

            const token = localStorage.getItem('token');
            if (token) {
                console.log(token);
            }

        });

        function loginForm(){
            location.href = "/user-service/loginForm";
        }

        function registerForm(){
            location.href = "/user-service/registration";
        }

        function getAllUsers() {

            location.href = "/user-service/users";
        }
        function getMyInfo(){

            // Call validatejwt and if it is success, go to myInfo
            const token = localStorage.getItem('token');
            location.href = "/user-service/myInfo/" + token;
        }
    </script>

    <style>
        .btn{

        }
    </style>
</head>
<body>
    <button id="registerFormBtn" class="btn" onclick="registerForm()">go to registerForm</button>
    <button id="loginFormBtn" class="btn" onclick="loginForm()">go to loginForm</button>
    <button id="getAllUsersBtn" class="btn" onclick="getAllUsers()">go to allUser</button>
    <button id="myInfoBtn" class="btn" onclick="getMyInfo()">go to myInfo</button>
</body>
</html>