<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>

        $(document).on('click', "input[type='checkbox']", function(){
            if(this.checked) {
                const checkboxes = $("input[type='checkbox']");
                for(let i = 0; i < checkboxes.length; i++){
                    checkboxes[i].checked = false;
                }
                this.checked = true;
            } else {
                this.checked = false;
            }
        });

        function exit() {

            var paramData = {
                myHp : $("#myHp").val(),
                enemyHp : $("#enemyHp").val(),
                money : $("#money").val(),
                playerEmail : $("#playerEmail").val(),
                startTime : $("#startTime").val()

            };

            var param = JSON.stringify(paramData);

            // history-service

            $.ajax({
                // api-gateway service 경로 추가 할것
                url      : "/game-service/save",
                type     : "POST",
                contentType : "application/json",
                data     : param,
                // beforeSend : function(xhr){
                //     /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                // },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("확인되었습니다.");
                    location.href='/game-service/main';

                },
                error : function(jqXHR, status, error, request){
                    alert("에러가 발생하였습니다 ");
                    console.log(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error)
                    //
                    // if(jqXHR.status == '401'){
                    //     alert('로그인 후 이용해주세요');
                    //     location.href='/members/login';
                    // } else{
                    //     alert(jqXHR.status+"\n"+jqXHR.responseText+"\n"+error);
                    //     // alert(jqXHR.responseText);
                    // }
                }
            });

        }

    </script>
</head>
<body>

game 1
여기에 게임 코드 들어감

<label th:for="myHp">myHp</label>
<input id="myHp" type="text" name="myHp">

<label th:for="enemyHp">enemyHp</label>
<input id="enemyHp" type="text" name="enemyHp">

<label th:for="money">money</label>
<input id="money" type="text" name="money">

<label th:for="playerEmail">playerEmail</label>
<input id="playerEmail" type="text" name="playerEmail">

<label th:for="startTime">startTime</label>
<input id="startTime" th:value="${startTime}" type="text" name="startTime">


<button type="button" class="exitBtn" onclick="exit()">저장 후 나가기</button>
</body>
</html>